{"openapi":"3.1.0","info":{"title":"Samtal open data","version":"1.0.0","description":"Read-only, de-identified data from Samtal (talasaman.is). No key needed. Gögn: Samtal, félag til almannaheilla (talasaman.is), CC BY 4.0. Documentation: https://talasaman.is/gogn","license":{"name":"CC BY 4.0","url":"https://creativecommons.org/licenses/by/4.0/"}},"servers":[{"url":"https://talasaman.is"}],"externalDocs":{"url":"https://talasaman.is/gogn"},"paths":{"/api/v1/circles":{"get":{"operationId":"circles","summary":"Hringir: the circle tree with member counts.","parameters":[{"name":"format","in":"query","required":false,"description":"`csv` for a spreadsheet-ready download (UTF-8 with BOM); JSON otherwise.","schema":{"type":"string","enum":["json","csv"]}}],"responses":{"200":{"description":"The circles dataset.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CirclesRow"}},"meta":{"$ref":"#/components/schemas/Meta"}},"required":["data","meta"]}},"text/csv":{"schema":{"type":"string"}}}},"429":{"description":"Too many requests from one address; see Retry-After."}}}},"/api/v1/places":{"get":{"operationId":"places","summary":"Staðir: favourite places and why, no author, points rounded.","parameters":[{"name":"format","in":"query","required":false,"description":"`csv` for a spreadsheet-ready download (UTF-8 with BOM); JSON otherwise.","schema":{"type":"string","enum":["json","csv"]}}],"responses":{"200":{"description":"The places dataset.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/PlacesRow"}},"meta":{"$ref":"#/components/schemas/Meta"}},"required":["data","meta"]}},"text/csv":{"schema":{"type":"string"}}}},"429":{"description":"Too many requests from one address; see Retry-After."}}}},"/api/v1/islenskast":{"get":{"operationId":"islenskast","summary":"Íslenskast: answers to „Hvað er það íslenskasta í heimi?\", tagged by hand (a dated snapshot).","parameters":[{"name":"format","in":"query","required":false,"description":"`csv` for a spreadsheet-ready download (UTF-8 with BOM); JSON otherwise.","schema":{"type":"string","enum":["json","csv"]}}],"responses":{"200":{"description":"The islenskast dataset.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/IslenskastRow"}},"meta":{"$ref":"#/components/schemas/Meta"}},"required":["data","meta"]}},"text/csv":{"schema":{"type":"string"}}}},"429":{"description":"Too many requests from one address; see Retry-After."}}}},"/api/v1/topics":{"get":{"operationId":"topics","summary":"Topics: the words chosen under „Hvað viltu tala um?\", with counts.","parameters":[{"name":"format","in":"query","required":false,"description":"`csv` for a spreadsheet-ready download (UTF-8 with BOM); JSON otherwise.","schema":{"type":"string","enum":["json","csv"]}}],"responses":{"200":{"description":"The topics dataset.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TopicsRow"}},"meta":{"$ref":"#/components/schemas/Meta"}},"required":["data","meta"]}},"text/csv":{"schema":{"type":"string"}}}},"429":{"description":"Too many requests from one address; see Retry-After."}}}},"/api/v1/stats":{"get":{"operationId":"stats","summary":"Headline counts.","parameters":[{"name":"format","in":"query","required":false,"description":"`csv` for a spreadsheet-ready download (UTF-8 with BOM); JSON otherwise.","schema":{"type":"string","enum":["json","csv"]}}],"responses":{"200":{"description":"The stats dataset.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/StatsRow"}},"meta":{"$ref":"#/components/schemas/Meta"}},"required":["data","meta"]}},"text/csv":{"schema":{"type":"string"}}}},"429":{"description":"Too many requests from one address; see Retry-After."}}}}},"components":{"schemas":{"Meta":{"type":"object","properties":{"dataset":{"type":"string"},"generatedAt":{"type":"string","format":"date-time"},"count":{"type":"integer"},"licence":{"type":"object","properties":{"name":{"type":"string"},"url":{"type":"string"}}},"attribution":{"type":"string"},"docs":{"type":"string"}},"required":["dataset","generatedAt","count","licence","attribution","docs"],"additionalProperties":true},"CirclesRow":{"type":"object","properties":{"slug":{"type":"string","description":"Stable identifier, also used as `parentSlug`."},"name":{"type":"string"},"kind":{"type":"string","enum":["organizer","area","facilitator","brainstorm","general","location"],"description":"`organizer` is Ísland, the root. `area` is a post code or a grouping circle, `location` a Staðsetning (a venue), `facilitator` the Lóðsar."},"parentSlug":{"nullable":true,"description":"The circle this one hangs under; null for the root.","type":"string"},"memberCount":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"Active members. Grouping circles (Póstnúmer, Staðsetningar) hold none of their own."}},"required":["slug","name","kind","parentSlug","memberCount"],"additionalProperties":false},"PlacesRow":{"type":"object","properties":{"id":{"type":"string","description":"Stable id of the place entry; also opens it on talasaman.is/stadir?stadur=<id>."},"place":{"type":"string","description":"The name the person gave the place."},"reason":{"type":"string","description":"Why it is their favourite, in their own words."},"lat":{"type":"number","description":"Latitude rounded to 2 decimals (about 1 km)."},"lng":{"type":"number","description":"Longitude rounded to 2 decimals (about 1 km)."}},"required":["id","place","reason","lat","lng"],"additionalProperties":false},"IslenskastRow":{"type":"object","properties":{"category":{"type":"string"},"categoryLabel":{"type":"string"},"concept":{"type":"string"},"conceptLabel":{"type":"string"},"answer":{"type":"string","description":"An answer word for word, identical answers (case and spacing folded) collapsed."},"count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"How many people gave this answer."}},"required":["category","categoryLabel","concept","conceptLabel","answer","count"],"additionalProperties":false},"TopicsRow":{"type":"object","properties":{"word":{"type":"string"},"count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991,"description":"How many people have chosen the word."}},"required":["word","count"],"additionalProperties":false},"StatsRow":{"type":"object","properties":{"metric":{"type":"string","enum":["participants","circlesWithMembers","locations","places","topicWords"]},"value":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}},"required":["metric","value"],"additionalProperties":false}}}}